@charset "UTF-8";


:root {
    --fundo: #84E1AD;
    --verde1: #3CD983;
    --verde2: #1A5C38;
    --texto: 'Oswald';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--fundo);
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--verde1), var(--verde2));
    color: white;
    font-family: var(--texto), Arial, Helvetica, sans-serif;
    margin: 0px; 
    padding: 10px;
}

header > h1 {
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}

header > p {
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
    padding-bottom: 30px;
    height: auto;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 0.8em;
    margin-right: 30px;
    margin-left: 20px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--verde1);
    padding: 3px;
    border-radius: 3px;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
}

article > h1 {
    margin-top: 0px;
    font-family: 'android', Arial, Helvetica, sans-serif;
    color: var(--verde2);
}

.textoo {
    text-align: justify;
    font-family: var(--texto), Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-indent: 30px;
    line-height: 2em;
}

strong {
    color: var(--verde2);
    font-weight: bold;
}

.externo {
    color: var(--verde2);
    font-weight: bold;
    text-decoration: none;
}

.externo::after { /*colocar algo depos*/
    content: '\1F517';
}

.externo:hover {
    text-decoration: underline;
}

article > h2 {
    font-family: 'android', Arial, Helvetica, sans-serif;
    color: var(--verde2);
    background-image: linear-gradient(to right, var(--fundo), white);
    padding-left: 8px;
    font-size: 1.2em;
}

.displayed {
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#bugdroid {
    display: block;
    margin: auto;
}

.video {
    background-color: var(--verde2);
    margin: 0 -20px 30px -20px; /*fazer colar no main*/
    padding: 20px;
    padding-bottom: 57%; /*tirar as bordas pretas quando abre o vídeo*/
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--fundo);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
}

aside > h3 {
    background-color: var(--verde2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*margem negativa serve pra fazer vazar a borda*/
    border-radius: 10px 10px 0px 0px;
    font-family: var(--texto), Arial, Helvetica, sans-serif;
}

aside > ul {
    font-family: var(--texto);
    list-style-type: '\1F5F8\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--verde2);
    color: white;
    font-family: var(--texto), Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 5px;
}

footer > strong {
    color: white;
    font-weight: bold;
}
